<style>
.afterdark { 
  color: white; 
  h2: white;
  background-color: black;
}
.gradient {
  background-image: linear-gradient(to bottom, #ffffff, #b9b9b9, #777777, #3b3b3b, #000000);
  min-height:3000px;
}
.black-spacer {
  background-color:black;
  min-height: 500px;
}
hr {
    width:75%;
    margin:0 auto;
    opacity:0.25
}
p {
  padding: 0 15px;
}
</style>

<div class="gradient">
  &nbsp;
</div>
<div class="black-spacer">
  &nbsp;
</div>
<div class="cointainer afterdark">
  <div class="row">
    <div class="col col-8 push-2 col-t-12 push-t-0">
      <div class="page-head">
          &nbsp; 
          <h2 class="afterdark">Welcome to Vegas…after dark (;</h2>
          &nbsp;
          <img src="/images/vegas-afterdark/vegas-afterdark-1.jpg#wide" alt="vegas-afterdark">
          &nbsp;
          <p>Vegas – a monument to sin. What happens there, stays there. What debauchery could I possibly get myself into?</p>
          <p>…I spent 2 hours looking for a buffet, ate too much, went back to the hotel and fell asleep. At 10:30.</p>
          &nbsp;
          <h2 class="afterdark">The Strip</h2>
          <p>Walking down the strip evoked a lot of the same feelings as being in Times Square. The fountain show at the Bellagio Hotel was really cool though!</p>
          <img src="/images/vegas-afterdark/vegas-afterdark-2.jpg#wide" alt="vegas-afterdark">
          &nbsp;
          <img src="/images/vegas-afterdark/vegas-afterdark-3.jpg#wide" alt="vegas-afterdark">
          &nbsp;
          <img src="/images/vegas-afterdark/vegas-afterdark-4.jpg#wide" alt="vegas-afterdark">
          &nbsp;
          <h2 class="afterdark">Rate My Plate(s)</h2>
          <p>The Cosmopolitan buffet was the goal – and after getting there and wandering around lost for a time, it turns out it was closed. So I went to Bacchanal at Caesar’s Palace and paid too much. But it didn’t matter at that point, I was too hungry to care.</p>
          <p>The food was excellent! Except the brisket, that was legit the worst brisket I’ve ever had lmao</p>
          <img src="/images/vegas-afterdark/vegas-afterdark-5.jpg#wide" alt="vegas-afterdark">
          &nbsp;
          <img src="/images/vegas-afterdark/vegas-afterdark-6.jpg#wide" alt="vegas-afterdark">
          &nbsp;
          <img src="/images/vegas-afterdark/vegas-afterdark-7.jpg#wide" alt="vegas-afterdark">
          &nbsp;
          <img src="/images/vegas-afterdark/vegas-afterdark-8.jpg#wide" alt="vegas-afterdark">
          &nbsp;
          &nbsp;
          <hr />
      </div>
    </div>
  </div>
</div>
</div>