<style>
.afterdark { 
  color: white; 
  h2: white;
  background-color: black;
}
.gradient {
  background-image: linear-gradient(white, black);
  min-height: 1000px;
}
</style>

<div class="gradient">
  &nbsp;
</div>
<div class="cointainer afterdark">
  <div class="row">
    <div class="col col-8 push-2 col-t-12 push-t-0">
      <div class="page-head">
        &nbsp; 
          <p class="page-description">Welcome to Vegas…after dark (;</p>
          &nbsp;
          &nbsp;
          &nbsp;
          <h2 class="afterdark"> Test </h2>
      </div>
    </div>
  </div>
</div>

</div>