<!-- begin hero -->
<script>
    var imagePaths = {{ site.data.images | jsonify }};
</script>

<section class="hero">
  <div class="container">
    <div class="row">
      <div class="col col-12">
        <div class="hero__inner">

          <div class="hero__left">
            <div class="hero__image" data-images="{{ site.data.images | jsonify }}">
              <!-- <img class="lazy" data-src="{{ site.data.settings.hero.hero__image }}" alt="{{site.data.settings.author.author__name}}'s Picture"> -->
              <img class="lazy profile-pic" data-src="{{ site.data.settings.hero.hero__image }}" alt="{{ site.data.settings.author.author__name }}'s Picture">
            </div>
          </div>

          <div class="hero__right">
            <h1 class="hero__title">{{ site.data.settings.hero.hero__title }}</h1>
            <p class="hero__description">{{ site.data.settings.hero.hero__description }}</p>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>
<!-- end hero --> 