.resume {
    font-size: 60%;
    
    p.topline {
        text-align: center; 
    }
    
    
    h2 {
        overflow: hidden;
      }
      
    h2:after {
        content: "";
        display: inline-block;
        height: 0.5em;
        vertical-align: bottom;
        width: 100%;
        margin-right: -100%;
        margin-left: 10px;
        border-top: 4px solid black;
      }
}