/* Buttons */
.button {
  display: inline-block;
  padding: 20px 40px;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.1;
  text-decoration: none;
  border-radius: 12px;
  border: none;
  outline: none;
  cursor: pointer;
  transition: all .2s;
  color: var(--dark);
  background: var(--brand-color);

  &:hover {
    color: var(--dark);
  }

  &--primary {
    color: var(--dark);
    background-color: var(--button-background-color);

    &:hover {
      background: var(--button-background-hover);
    }
  }

  &--small {
    padding: 20px 24px;
  }

  &--big {
    display: block;
    width: 100%;
  }
}

.homepage-link {

  text-decoration: underline;
  text-decoration-color: var(--brand-color);
  text-decoration-skip: none;
  display: inline-block;
  background: linear-gradient(var(--brand-color), var(--brand-color)) no-repeat;
  background-size: 100% 0%;       // Initially no underline visible
  background-position: 0% 100%;   // Position at the bottom of the text
  transition: background-size .2s ease-in-out, background-position .2s ease-in-out, transform .2s ease-in-out; 

  &:hover {
    background-size: 100% 25%;    // Underline height of 2px
    background-position: 0% 100%;  // Shift position slightly above the bottom
    transform: translateY(-4px);
  }


  // &:hover {
  //   text-decoration: color: var(--brand-color);

  // }

}