<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body>

  {% if site.data.settings.google-analytics %}
    {% include google-analytics.html %}
  {% endif %}

  {% if page.category != 'roadtrip' %}
    {% include header.html %}
  {% else %}
    &nbsp;  
  {% endif %}

  <!-- begin content -->
  <main class="content" aria-label="Content">
    {{ content }}
  </main>
  <!-- end content -->

  {% if page.title == 'The Las Vegas Valley' %}
   {% include afterdark.html %}
  {% else %}
    {% include footer.html %}
  {% endif %}

  <script src="{{ site.baseurl }}/js/scripts.js"></script>
  <script src="{{ site.baseurl }}/js/common.js"></script>
</body>

</html>